<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="UTF-8" />
<link rel="stylesheet" type="text/css" href="../../content/frame/bootstrap/css/bootstrap.css">
<!--  -->
<style type="text/css" media="screen">
.myTooltip .title {
    height: 35px;
    line-height: 35px;
    padding-left: 10px;
    padding-top: 2px;
    background: #259beb;
    color: #fff;
    font-style: 12px;
    font-weight: normal;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.myTooltip .myTooltipBox {
    padding: 10px;
    margin-top: -20px;
}
</style>
<!--  -->
<!-- <div id="myChartLine" style="width:1000px ;height:400px;margin:0 auto;"></div> -->
<form class="form-horizontal">
    <div class="form-group">
        <label class="col-sm-3 control-label">
    </div>
    <div class="col-sm-5">
        <div class="form-date">
            <input id="startDate" class="form-control" type="text" placeholder="选择时间">
        </div>
        <div> — </div>
        <div class="form-date">
            <input id="endDate" class="form-control" type="text" placeholder="选择时间">
        </div>
    </div>
    <!--  -->
    <div class="form-group">
        <label class="col-md-3 control-label">上传图片：</label>
        <div class="col-md-4">
            <input id="fileUpload" type="file" class="filestyle" data-icon="false" accept="image/gif,image/jpeg,image/jpg,image/png,image/svg">
            <!--以上 accept="image/gif,image/jpeg,image/jpg,image/png,image/svg"  是表示限制仅上传图片类文件用的，若用别的方法限定此处也可以不加-->
            <div id="image-holder"></div>
        </div>
        <!-- <div class="help-block col-md-reset">请选择1寸照片比例的图片</div> -->
    </div>
</form>
<div id="div2">
    div2
</div>
<div id="app" v-cloak>
    <ul class="nav nav-tabs in">
        <li class="active">
            <a data-toggle="tab" @click="change(1)">人工审核</a>
        </li>
        <li class="">
            <a data-toggle="tab" @click="change(2)">人工通过</a>
        </li>
    </ul>
    <h1>{{h1}}</h1>
    <!-- <div class="tab-content">
        <template>
            <div class="tab-pane fade active in"  v-show="show">
                <label>Username</label>
                <input placeholder="Enter your username">
                <div class="form-group">
                <label class="col-sm-3 control-label no-padding-top" for="duallist">jquery双向选择： </label>
                <div class="col-sm-8">
                    <select multiple="multiple" size="10" name="duallistbox_demo1[]" id="duallist">
                        <option value="option1">张三（234567）</option>
                        <option value="option2">李四（456677）</option>
                        <option value="option3" selected="selected">王五（789043)</option>
                        <option value="option4">赵六（456677）</option>
                        <option value="option5">李四（456677）</option>
                        <option value="option6">赵六（456677）</option>
                        <option value="option7">王五（789043)</option>
                        <option value="option8">李四（456677）</option>
                        <option value="option9">赵六（456677）</option>
                        <option value="option0">赵六（456677）</option>
                    </select>
                </div>
            </div>
            </div>
        </template>
        <template >
            <div class="tab-pane fade active in" v-show="!show">
                <label>Email</label>
                <input placeholder="Enter your email address">
            </div>
        </template>
    </div> -->
    <!--  -->
    <div class="bindUse" id='useApp'>
        账号： <input type="text" name="account" maxlength="12">
        <br> 
        密码： <input type="password" name="password" maxlength="20">
        <button class="submit">提交</button>
    </div>
</div>
<!--  -->
<div class="row">
    <div class="col-md-10">
        <div id="photoClip">
            <div class="form-group">
                <input type="file" class="filestyle" data-icon="false" id="file">
                <div id="image-holder"></div>
            </div>
            <!--  -->
            <div class="col-md-9">
                <div class="boxCen">
                    <div id="clipArea" class="file-clip"></div>
                    <div id="imgHtml" class="clipEnd"></div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="tool-btns">
                    <button type="button" class="btn btn-default btn-block" id="clipBtn">裁剪图片</button>
                    <button type="button" class="btn btn-default btn-block" id="rotaBtn">选转</button>
                    <button type="button" class="btn btn-default btn-block" id="bigImg">放大</button>
                    <button type="button" class="btn btn-default btn-block" id="smallImg">缩小</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" async>
require(['../normal/js/checkbox-line', "./photoClip/jquery.photoClip"], function(line) {
    line();
    // clip();
    $("#file").on("click", function() {
        $(".clipEnd img,.photo-clip-rotateLayer img").attr('src', "");
        $("#clipArea,.tool-btns").show(0);
    })

    function clip() {
        $("#clipArea").photoClip({
            size: [358, 441],
            file: "#file",
            ok: "#clipBtn",
            view: "#imgcav",
            rotaBtn: '#rotaBtn',
            bigBtn: '#bigImg',
            smallBtn: '#smallImg',
            outputSize: [358, 441],
            loadStart: function() {
                console.log("照片读取中");
            },
            loadComplete: function() {
                console.log("照片读取完成");
            },
            clipFinish: function(dataURL) {
                var img = '<img src="' + dataURL + '">';
                $("#clipArea,.tool-btns").hide(0);
                $('#imgHtml').html(img);
            }
        });
    }


});
</script>