<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>历史签到课程</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="../../content/frame/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../content/normal/css/punch/common.css">
    <link rel="stylesheet" type="text/css" href="../../content/normal/css/punch/punch.css">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body class="punch punch-history">
    <nav class="navbar">
        <div class="smart-header smart-white">
            <a href="javascript:history.go(-1);" class="smart-back smart-icon-left">
                <img src="../../content/normal/images/arrow-left.png" alt="" >
            </a>
            <h1>历史签到课程</h1>
        </div>
    </nav>
    <div class="smart-content" id="smart-content">

        <ul class="smart-list smart-list-space">
            <li class='smart-list-item'>
                <a href="./punch-info.html">
                    <h2>大学英语</h2>
                    <span>西校区第五教学楼302教师</span>
                    <span>2018.08.08 09:00 — 2018.08.08 12:00</span>
                </a>
            </li>
            <li class='smart-list-item'>
                <a href="./punch-info.html">
                    <h2>大学英语</h2>
                    <span>西校区第五教学楼302教师</span>
                    <span>2018.08.08 09:00 — 2018.08.08 12:00</span>
                </a>
            </li>
            <li class='smart-list-item'>
                <a href="./punch-info.html">
                    <h2>大学英语</h2>
                    <span>西校区第五教学楼302教师</span>
                    <span>2017.12.12 12:12 — 2018.12.12 12:12</span>
                </a>
            </li>
            <li class='smart-list-item'>
                <a href="./punch-info.html">
                    <h2>大学英语</h2>
                    <span>西校区第五教学楼302教师</span>
                    <span>2017.12.12 12:12 — 2018.12.12 12:12</span>
                </a>
            </li>
        </ul>
    </div>
</body>
</html>