<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>大学英语</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="../../content/frame/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../content/normal/css/punch/common.css">
    <link rel="stylesheet" type="text/css" href="../../content/normal/css/punch/punch.css">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<!-- punch-notBegin：未开始 | punch-started：已开始 | punch-soon：即将开始-->
<body class="punch punch-info punch-started">
    <div class="smart-content" id="smart-content">
        <!-- h1 -->
        <header>
            <h1>大学英语</h1>
            <p>西校区第五教学楼302教室</p>
            <p>2018.11.11 12:12 -- 2018.12.12 12:12</p>
        </header>
        <!-- 签到状态 -->
        <div class="punch-state">
            正在签到
        </div>
        <!-- nav -->
        <nav>
            <ul>
                <li><a title="">应到人数<span>50人</span></a></li>
                <li><a class="active" title="">已签到<span>30人</span></a></li>
                <li><a title="">未签到<span>20人</span></a></li>
                <li><button class="punchCard-btn">刷脸</button></li>
            </ul>
        </nav>
        <!-- 列表 -->
        <div class='content-list'>
            <ul class="smart-list smart-list-space">
                <li class='smart-list-item'>
                    <div class="user-header"><img src="../../content/normal/images/1cun.jpg" alt=""></div>
                    <span>帝释天</span>
                    <button class="onpunch">签到</button>
                </li>
                <li class='smart-list-item'>
                    <div class="user-header"><img src="../../content/normal/images/1cun.jpg" alt=""></div>
                    <span>赵无极</span>
                    <button class="punchdis">已签到</button>
                </li>
                <li class='smart-list-item'>
                    <div class="user-header"><img src="../../content/normal/images/1cun.jpg" alt=""></div>
                    <span>张无忌</span>
                    <button>签到</button>
                </li>
                <li class='smart-list-item'>
                   <div class="user-header"><img src="../../content/normal/images/1cun.jpg" alt=""></div>
                    <span>萧十一郎</span>
                    <button>签到</button>
                </li>
                <li class='smart-list-item'>
                    <div class="user-header"><img src="../../content/normal/images/1cun.jpg" alt=""></div>
                    <span>韩老魔</span>
                    <button>签到</button>
                </li>
                <li class='smart-list-item'>
                    <div class="user-header"><img src="../../content/normal/images/1cun.jpg" alt=""></div>
                    <span>帝释天</span>
                    <button class="onpunch">签到</button>
                </li>
                <li class='smart-list-item'>
                    <div class="user-header"><img src="../../content/normal/images/1cun.jpg" alt=""></div>
                    <span>赵无极</span>
                    <button class="punchdis">已签到</button>
                </li>
                <li class='smart-list-item'>
                    <div class="user-header"><img src="../../content/normal/images/1cun.jpg" alt=""></div>
                    <span>张无忌</span>
                    <button>签到</button>
                </li>
            </ul>
            <div class="nothing">
                <img src="../../content/normal/images/nothing.png" alt="">
                <p>暂时还没有记录</p>
            </div>
        </div>
       
    </div>
</body>
<script type="text/javascript">
    var punchState = [
        {
            className:'punch-notBegin',
            title:'未开始'
        },{
            className:'punch-started',
            title:'正在签到'
        },{
            className:'punch-soon',
            title:'即将签到'
        }];
    var i = 0;
    var body = document.querySelector('body');
    var classList = body.classList;
    var state = document.querySelector('.punch-state');
    var punchCardBtn = document.querySelector('.punchCard-btn');
    var nothing = document.querySelector('.nothing');
    var list = document.querySelector('.smart-list');

    var toggleState = setInterval(function(){
        if(i == punchState.length) i = 0;
        classList.remove(classList[classList.length-1]);
        classList.add(punchState[i].className);
        state.innerHTML = punchState[i].title;
        if(punchState[i].className != 'punch-started'){
            punchCardBtn.setAttribute('disabled',true);
            list.style.display = "none";
            nothing.style.display = "block";
        }else{
            punchCardBtn.removeAttribute('disabled');
            list.style.display = "block";
            nothing.style.display = "none";
        }
        i++;
    },3000);
</script>
</html>